:root {
    /* Fonts */
    --bj-font: 'IBM Plex Sans', sans-serif;
    /* Colors */
    --bj-nav-color: #204377;
    --bj-body-color: #244D87;
    --bj-secondary-color: #3E9FCA;
    --bj-danger-color: #842C2E;
    --bj-offset-color: #F7F7F7;
    --bj-white: #FFFFFF;
}

nav {
    background-color: var(--bj-nav-color);
}

.nav-link {
    color: var(--bj-white);
}

body {
    background-color: var(--bj-body-color);
    color: var(--bj-white);
    font-family: var(--bj-font);
}

.card-body {
    overflow: hidden;
}

.circle {
    background-color: var(--bj-white);
    border-radius: 50%;
    height: 82px;
    width: 82px;
}

a.nostyle {
    text-decoration: inherit;
    color: var(--bj-body-color);
    font-weight: 600;
}

a.nostyleWhite {
    text-decoration: inherit;
    color: inherit;
}

.titleText {
    font-weight: 600;
}

.nav-link {
    font-weight: 600;
    position: relative;
}

.active {
    background-color: var(--bj-white);
    height: 6px;
    top: -14px;
    width: 100%;
    left: 0px;
    position: absolute;
    pointer-events: none;
}

.card-title {
    font-weight: 600;
    color: var(--bj-body-color);
}

.secondaryText {
    color: var(--bj-secondary-color) !important;
}

h6 {
    font-size: 0.78rem;
}

h5 {
    font-size: 0.7rem;
}

.playerPicture {
    height: 60px;
}

.playerName {
    font-size: 0.8rem;
}

    /* Start Toggle Switch CSS */
    .btn-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.btn-color-mode-switch {
    display: inline-block;
    margin: 0px;
    position: relative;
}

    .btn-color-mode-switch > label.btn-color-mode-switch-inner {
        margin: 0px;
        width: 170px;
        height: 40px;
        background-color: var(--bj-white);
        border-radius: 26px;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease;
        display: block;
    }

        .btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
            content: attr(data-on);
            position: absolute;
            font-size: 18px;
            font-weight: 600;
            top: 7px;
            right: 17px;
            color: var(--bj-secondary-color);
        }

        .btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
            content: attr(data-off);
            width: 80px;
            height: 35px;
            background: var(--bj-secondary-color);
            border-radius: 26px;
            position: absolute;
            font-size: 18px;
            display: flex;
            justify-content: center;
            left: 2px;
            top: 2.3px;
            text-align: center;
            transition: all 0.3s ease;
            box-shadow: 0px 0px 6px -2px #111;
            padding: 5px 0px;
            color: var(--bj-white);
            font-weight: 600;
        }

    .btn-color-mode-switch input[type="checkbox"] {
        cursor: pointer;
        width: 50px;
        height: 25px;
        opacity: 0;
        position: absolute;
        top: 0;
        z-index: 1;
        margin: 0px;
    }

        .btn-color-mode-switch
        input[type="checkbox"]:checked + label.btn-color-mode-switch-inner {
            background-color: var(--bj-white);
        }

            .btn-color-mode-switch
            input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
                content: attr(data-on);
                left: 88px;
            }

            .btn-color-mode-switch
            input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
                content: attr(data-off);
                right: auto;
                left: 20px;
            }
/* End Toggle Switch CSS */

@media (min-width:590px) {

    h5, h6 {
        font-size: 1rem;
    }
}

@media (min-width: 500px) {
    .playerPicture {
        height: 100px;
    }

    .playerName {
        font-size: 1.3rem;
    }
}